<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de QR Code Personalizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link para CSS -->
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Gerador de QR Code</h2>
        <form id="qrForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="text">URL do site *</label>
                <input type="text" id="text" name="text" placeholder="Digite o URL" required>
            </div>
            <div class="form-group">
                <label for="label_text">Nome do QR Code</label>
                <input type="text" id="label_text" name="label_text" placeholder="Nome do QR Code">
            </div>
            <div class="form-group">
                <label for="front_color">Cor do QR Code</label>
                <input type="color" id="front_color" name="front_color" value="#000000">
            </div>
            <div class="form-group">
                <label for="back_color">Cor de Fundo</label>
                <input type="color" id="back_color" name="back_color" value="#FFFFFF">
            </div>
            <div class="form-group">
                <label for="border_color">Cor da Moldura</label>
                <input type="color" id="border_color" name="border_color" value="#FFFFFF">
            </div>
            <div class="form-group">
                <label for="label_color">Cor do Texto</label>
                <input type="color" id="label_color" name="label_color" value="#000000">
            </div>
            <div class="form-group">
                <label for="logo">Logotipo (PNG)</label>
                <input type="file" id="logo" name="logo" accept="image/png">
            </div>
        </form>
    </div>
    <div class="qr-code-preview">
        <h2>Pré-visualização do QR Code</h2>
        <div id="qrCodeImage">
            <p>A visualização do QR Code aparecerá aqui.</p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link para JS -->
</body>
</html>
